.shuffle-parent {
  display: inline-block;
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

.shuffle-parent.is-ready {
  opacity: 1;
}

.shuffle-char,
.shuffle-word,
.shuffle-line {
  display: inline-block;
}
